@model EntityLayer.Concrete.Feature
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form asp-action="Index" asp-controller="Feature" method="post" class="form-group">
                <input type="hidden" asp-for="FeatureID" />
                <br />
                <label>Başlık</label>
                <input asp-for="Header" class="form-control" />
                <br />
                <label>Ad - Soyad</label>
                <input asp-for="Name" class="form-control" />
                <br />
                <label>Görev</label>
                <input asp-for="Title" class="form-control" />
                <br />
                <button type="submit" class="btn btn-primary">Kaydet</button>
                <a href="/Default/Index#" class="btn btn-dark ml-2">İptal</a>
            </form>
        </div>
    </div>
</div>