@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "EditPortfolio";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
<h3 class="mb-0">Portfolio Düzenleme Sayfası</h3>
</div>
<form asp-action="EditPortfolio" asp-controller="Portfolio" method="post" class="form-group">
    <input type="hidden" asp-for="PortfolioID" />
    <br />
    <label>Proje Başlığı</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <label>Görsel1</label>
    <input asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    <br />
    <label>Görsel2</label>
    <input asp-for="ImageUrl2" class="form-control" />
    <span asp-validation-for="ImageUrl2" class="text-danger"></span>
    <br />
    <label>Proje URL</label>
    <input asp-for="ProjectUrl" class="form-control" />
    <span asp-validation-for="ProjectUrl" class="text-danger"></span>
    <br />
    <label>Fiyat</label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
    <br />
    <label>Tamamlanma Oranı</label>
    <input asp-for="Value" class="form-control" />
    <span asp-validation-for="Value" class="text-danger"></span>
    <br />
    <label>Platform</label>
    <input asp-for="Platform" class="form-control" />
    <span asp-validation-for="Platform" class="text-danger"></span>
    <br />
    <button type="submit" class="btn btn-success">Güncelle</button>
</form>