@using EntityLayer.Concrete
@model List<Portfolio>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-items-center  table-flush">
                    <thead>
                        <tr>
                            <th>Proje Adı</th>
                            <th>Ücret</th>
                            <th>Durum</th>
                            <th>Tamamlanma Oranı</th>
                            <th>Sil</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        @* <a href="#" class="avatar rounded-circle mr-3">
                                            <img alt="Image placeholder" src="@item.Platform">
                                        </a> *@
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">@item.Name</span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget">
                                    @item.Price
                                </td>
                                <td class="budget">
                                    <span class="badge badge-dot mr-4">
                                        <i class="bg-success"></i>
                                        <span class="status">Tamamlandı</span>
                                    </span>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion mr-2">%@item.Value</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="/Portfolio/DeletePortfolio/@item.PortfolioID" class="btn btn-outline-danger" onclick="return confirm('Bu deneyimi silmek istediğinize emin misiniz?')">Sil</a></td>
                                <td><a href="/Portfolio/EditPortfolio/@item.PortfolioID" class="btn btn-outline-warning">Güncelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <a href="/Portfolio/AddPortfolio/" class="btn btn-outline-info">Yeni Proje Girişi</a>
            </div>
        </div>
    </div>
</div>