@model EntityLayer.Concrete.Skill

@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Yetenek Ekleme Sayfası</h3>
</div>
<form asp-action="AddSkill" asp-controller="Skill" method="post" class="form-group">
    <br />
    <label>Yetenek Adı</label>
    <input asp-for="Title" class="form-control" />
    <br />
    <label>Değer</label>
    <input asp-for="Value" class="form-control" />
    <br />
    <button type="submit" class="btn btn-primary">Ekle</button>
</form>