@using EntityLayer.Concrete
@model List<WriterUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
    <div class="p-2">
        <button type="button" id="btngetlistall" class="btn btn-outline-primary" >Verileri Getir</button>
    </div>
</div>

@*<h3 class="text-center"> </h3>*@
@*<div class="p-2 text-danger" id="listuser">
   <h5>"Verileri Getir" butonuna tıkla. Mevcuttaki kayıtlı kullanıcı bilgilerini listele.</h5>
</div>*@
<br />
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kullanıcı Listesi</h4>
                <div class="table-responsive text-danger" id="listuser">
                    <h5>"Verileri Getir" butonuna tıkla. Mevcuttaki kayıtlı kullanıcı bilgilerini listele.</h5>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('#btngetlistall').click(function(){
            $.ajax(
            {
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/WriterUser/ListUser/",

                success: function (funk) {
                    let users = jQuery.parseJSON(funk);
                    console.log(users);

                        let htmlst = "<table class=table table bordered> <tr> <th>ID</th> <th>Ad</th> <th>Soyad</th> <th>Kullanıcı Adı</th> <th>Görsel URL</th> </tr>";
                        $.each(users, (index, value) => {
                            htmlst += `<tr> <td>${value.Id}</td> <td>${value.Name}</td> <td>${value.Surname}</td> <td>${value.UserName}</td> <td>${value.ImageURL}</td> </tr>`
                        });
                        htmlst += "</table>";
                        $('#listuser').html(htmlst);
                }
            });
        });
    </script>
}
<script src="~/lib/jquery/dist/jquery.js"></script>