<footer class="pt-2 pb-2 text-center bg-light">
    <div class="container">
        <div class="my-2">
            <div class="h4" style="font-family:cursive; font-weight:bold">Melih DİNÇER</div>
            <small style="font-family:Courier New, Courier, monospace">Bilgisayar Mühendisi - Software Developer</small>
            <div class="row mt-3">
                <small style="font-size:18px; font-family:'Brush Script MT',cursive">Ögrenmekten asla vazgeçme! Çünkü hayat hiçbir zaman ögretmekten vazgeçmez.</small>
            </div>
            <br />
            @await Component.InvokeAsync("FooterSocialMediaIcons")
        </div>
        <div class="text-small text-secondary">
            <div>&copy; @DateTime.Now.Year | Tüm Hakları Saklıdır.</div>
            @* <div>
            <!-- Make sure to buy a license for the template before removing the line below. Buy license on https://templateflip.com/ -->Design - <a href="https://templateflip.com/" target="_blank">TemplateFlip</a>
            </div> *@
        </div>
    </div>
</footer>