@using EntityLayer.Concrete
@model List<Contact>

<div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
    @foreach (var item in Model)
    {
    <div class="mt-3 px-1">
        <div class="h4">@item.Title</div>
            <p style="font-family:cursive">@item.Description</p>
            <p style="font-family:cursive">GitHub profilimi inceleyip, repolarıma yıldız bırakırsanız çok sevinirim.</p>
    </div>
    <div class="mt-3 px-1">
            <div class="row" style="font-family:cursive">
            <div class="col-sm-2">
                    <div class="pb-1 fw-bolder">Email:</div>
            </div>
            <div class="col-sm-10">
                <div class="pb-1 ">@item.Mail</div>
            </div>
            <div class="col-sm-2">
                    <div class="pb-1 fw-bolder">GitHub:</div>
            </div>
            <div class="col-sm-10">
                <div class="pb-1">MelihDincer</div>
            </div>
            <div class="col-sm-2">
                    <div class="pb-1 fw-bolder">Telefon:</div>
            </div>
            <div class="col-sm-10">
                <div class="pb-1">@item.Phone</div>
            </div>
        </div>
    </div>
    <br />
        <p style="font-family:cursive">Mesajlarınızı bekliyorum, tekrar görüşmek üzere :)</p>     
    }
</div>