<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="mdi mdi-send menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu" id="message">
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/Recievermessage/">
                            @*<i class="mdi mdi-message-text menu-icon"></i>*@
                            <span class="menu-title">Gelen Mesajlar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SenderMessage/">
                            @*<i class="ti-agenda menu-icon"></i>*@
                            <span class="menu-title">Gönderilen Mesajlar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Writer/Message/SendMessage/">
                            @*<i class="mdi mdi-message-plus menu-icon"></i>*@
                            <span class="menu-title">Yeni Mesaj</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index/">
                <i class="mdi mdi-bell-outline menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index/" aria-expanded="false" aria-controls="icons">
                <i class="mdi mdi-account-circle menu-icon"></i>
                <span class="menu-title">Profil Bilgileri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/EditPassword/Index/">
                <i class="mdi mdi-settings menu-icon"></i>
                <span class="menu-title">Şifre İşlemleri</span>
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="mdi mdi-apple menu-icon"></i>
                <span class="menu-title">Admin Paneline Git >></span>
            </a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut/">
                <i class="mdi mdi-logout menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>