@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form asp-action="AddExperience" asp-controller="Experience" method="post" class="forms-sample">
                <div class="form-group">
                    <label>Başlık</label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Tarih Bilgisi</label>
                    <input asp-for="Date" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Resim Yolu</label>
                    <input asp-for="ImageUrl" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Ekle</button>
                <a href="/Experience/Index/" class="btn btn-dark mr-2">Cancel</a>
            </form>
        </div>
    </div>
</div>




@*<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Ekleme Sayfası</h3>
</div>
<form asp-action="AddExperience" asp-controller="Experience" method="post" class="form-group">
    <br />
    <label>Yetenek Adı</label>
    <input asp-for="Name" class="form-control" />
    <br />
    <label>Tarih Bilgisi</label>
    <input asp-for="Date" class="form-control" />
    <br />
    <label>Resim Yolu</label>
    <input asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Açıklama</label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <br />
    <button type="submit" class="btn btn-info">Ekle</button>
</form>*@