@model EntityLayer.Concrete.Contact
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form asp-action="Index" asp-controller="ContactSubplace" method="post" class="forms-sample">
                <div class="form-group">
                    <label>Başlık</label>
                    <input type="text" asp-for="Title" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Telefon</label>
                    <input type="tel" asp-for="Phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Mail Adresi</label>
                    <input type="mail" asp-for="Mail" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <textarea rows="15" asp-for="Description" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
            </form>
        </div>
    </div>
</div>